{% extends "global/layout.html.twig" %}

{% set actived = 'index' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% for question in questions %}
                <section class="container question-summary narrow">
                    <div class="cp">
                        <div class="status views">
                            <div class="mini-counts">
                                <strong>{{ question.views }}</strong>
                            </div>
                            {% if question.views > 1 %}views{% else %}view{% endif %}
                        </div>
                    </div>
                    <div class="summary">
                        <h3>
                            <a class="header"
                               href="{{ path('question_show', {id: question.id}) }}">{{ question.subject }}</a>
                        </h3>
                        <div class="tags float-left mr-2">
                            {% for tag in question.tags %}
                                <a class="btn btn-sm btn-light" href="">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                        <div class="started float-right">
                            <a href="#">{{ question.user.username }}</a>
                            <span class="started-link">asked on
                                <time class="date"
                                      datetime="{{ question.createdAt | date('c') }}">{{ question.createdAt | ago }}</time>
                            </span>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>
        {# display navigation #}
        {{ knp_pagination_render(questions) }}

    </div>
{% endblock %}