<div class="ui attached stackable inverted teal menu">
    <div class="ui container">
        <a class="item" href="{{ path('question_index') }}">
            <img src="{{ asset('logo.png') }}" class="mini logo">
        </a>
        <a class="{% if actived == 'index' %}active {% endif %}item" href="{{ path('question_index') }}">Questions</a>
        <a class="item" href="{{ path('post_list') }}">Posts</a>
        <a class="item" href="{{ path('tag_list') }}">Tags</a>
        <div class="right item">
            <div class="ui input"><input type="text" placeholder="Search..."></div>
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <div class="item">
                    <a class="ui button" href="{{ path('sonata_admin_dashboard') }}">
                        <i class="lock icon"></i> {{ 'menu.admin'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>