{% extends "global/layout.html.twig" %}

{% set actived = 'index' %}

{% block content %}
    {{ parent() }}
    <div class="ui vertical stripe">
        <div class="ui grid">
            <div class="twelve wide column">
                <div class="ui container">
                    <div class="ui tabular menu">
                        <a class="{% if sort == 'hottest' %}active {% endif %}item"
                           href="{{ path('post_index') }}?sort=hottest">Hottest</a>
                        <a class="{% if sort == 'newest' or sort == '' %}active {% endif %}item"
                           href="{{ path('post_index') }}?sort=newest">Newest</a>
                    </div>
                    <div class="ui relaxed divided items">
                        {% for post in posts %}
                            <div class="item">
                                <div class="ui segment">
                                    <span class="item">{{ post.answers|length }}</span>
                                    <span class="item"> {% if post.isSolved %}Solved{% else %}Answers{% endif %}</span>
                                </div>
                                <div class="ui segment">
                                    <span class="item">{{ post.views }}</span>
                                    <span class="item">Views</span>
                                </div>
                                <div class="content">
                                    <a class="header" href="{{ path('post_show', {id: post.id}) }}">{{ post.subject }}</a>
                                    <div class="meta">
                                        {{ post.user.username }}
                                        asked on
                                        <time datetime="{{ post.createdAt | date('c') }}" class="date">
                                            {{ post.createdAt | ago }}
                                        </time>
                                    </div>
                                    <div class="extra">
                                        {% for tag in post.tags %}
                                            <a class="item" href="">{{ tag.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {# display navigation #}
                    <div class="ui center container menu">
                        {{ knp_pagination_render(posts) }}
                    </div>
                </div>
            </div>
            <div class="four wide column">
                {% include 'global/sidebar.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}